* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    height: 100vh; 
    overflow: hidden; 
}

.signin-background {
    position: fixed; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden; 
}

.signin-background::before {
    content: ""; 
    position: absolute; 
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../../../assets/images/storage.jpg');
    background-size: cover; 
    background-position: center; 
    filter: blur(8px); 
    z-index: -1; 
}

.signin-container {
    background-color: rgba(255, 255, 255, 0.9); 
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    padding: 20px;
    width: 400px;
    position: relative; 
    z-index: 1; 
    margin: auto; 
    top: 50%; 
    transform: translateY(-50%); 
}

.signin-form {
    display: flex;
    flex-direction: column;
}

.signin-form h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.signin-input {
    margin-bottom: 15px;
    padding: 12px; 
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 14px;
    height: 45px; 
    outline: none; 
    transition: border-color 0.3s; 
}

.signin-input:focus {
    border-color: #5a67d8; 
}


.signin-button {
    padding: 10px;
    background-color: #5a67d8;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

.signin-button:hover {
    background-color: #434190; 
}

.error-message {
    color: red;
    margin-top: 10px;
}

.signup-prompt {
    margin-top: 10px;
    text-align: center;
}

.signup-prompt a {
    color: #5a67d8; 
    text-decoration: none;
}

.signup-prompt a:hover {
    text-decoration: underline; 
}
