
.details-content .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.product-table {
    border-collapse: collapse;
    width: calc(100% - 20px); 
    max-width: none; 
    margin: 10px;
    margin-left: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease;
}

.main-content.expanded .product-table {
    width: calc(100% - 60px); 
}

.product-table th, .product-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    height: 50px;
}

.product-table th {
    background-color: #007BFF;
    color: white;
    font-size: 18px;
}

.product-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}

.product-details {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.details-content {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 15px;
    width: 500px;
    text-align: left;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    animation: fadeIn 0.3s ease-in-out;
}

.details-content h2 {
    margin-bottom: 20px;
    color: #333;
    text-align: center;
    font-size: 24px;
}

.details-content input, .details-content select, .details-content button {
    width: 100%;
    margin-bottom: 7px;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 30px;
    font-size: 16px;
    transition: box-shadow 0.3s ease-in-out;
    height: 48px;
}

.price-container input, .price-container select, .barcode-container input, .barcode-container button {
    width: auto;
}

.price-container {
    display: flex;
    align-items: center;
}

.price-container input {
    flex: 1;
    margin-right: 10px;
}

.price-container select {
    width: 80px;
}

.barcode-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.barcode-container input {
    flex: 1;
    padding: 12px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 30px;
    height: 48px;
}

.barcode-container button {
    padding: 12px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    border-radius: 30px;
    cursor: pointer;
    height: 48px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.barcode-container button .barcode-icon {
    margin-right: 8px;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.product-image {
    max-width: 100%; 
    height: auto; 
    border-radius: 10px; 
    margin: 15px 0; 
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); 
} 
.image-upload-container {
    width: 200px;
    height: 200px;
    border: 2px dashed #ccc;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin: 0 auto 15px auto;
    transition: border-color 0.3s ease-in-out;
}

.image-upload-container:hover {
    border-color: #4CAF50;
}

.image-upload-container p {
    color: #999;
    font-size: 16px;
    text-align: center;
}

.product-image-preview {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}


.clear-image-button {
    padding: 12px 20px;
    margin-top: 10px;
    background-color: #007BFF;
    color: #ffffff;
    border: none;
    border-radius: 30px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    transition: background 0.3s ease-in-out, transform 0.2s;
    height: 48px;
}

.agreement-container {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.add-button, .cancel-button, .delete-product-button {
    flex: 1;
    padding: 12px 20px;
    height: 48px;
    font-size: 16px;
    color: white;
    font-weight: bold;
    border-radius: 30px;
    text-align: center;
    transition: background 0.3s ease-in-out, transform 0.2s;
    cursor: pointer;
}

.menu-button:hover, .add-button:hover, .cancel-button:hover, .delete-button:hover, .delete-product-button:hover, .barcode-container button:hover, .clear-image-button:hover, .close-button:hover {
    transform: translateY(-2px);
}

.menu-button, .add-button, .settings-button {
    background-color: #4CAF50;
}

.barcode-container button, .clear-image-button, .close-button {
    background-color: #007BFF;
}

.delete-product-button, .delete-button {
    background-color: #FF6347;
}

.cancel-button {
    background-color: #7a7a7a;
}

.menu-button:hover, .add-button:hover, .settings-button:hover {
    background-color: #388E3C;
}

.barcode-container button:hover, .clear-image-button:hover, .close-button:hover {
    background-color: #0056b3;
}

.delete-product-button:hover, .delete-button:hover {
    background-color: #D9534F;
}

.cancel-button:hover {
    background-color: #686868;
}

.error {
    color: red;
    font-size: 14px;
    font-weight: bold;
    padding: 5px;
    border: 1px solid red;
    background-color: #ffe6e6;
    border-radius: 30px;
}

.barcode-details-container p {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
  
  .app-container {
    display: flex;
    height: 100vh;
    overflow-y: auto;
  }
  
  /* Sidebar */
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 250px;
    height: 100vh;
    background-color: #343a40;
    color: #fff;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: width 0.3s ease; 
    z-index: 100;
}

.sidebar.collapsed {
    width: 60px; 
}

.main-content {
    flex: 1;
    padding: 20px;
    margin-left: 250px; 
    transition: margin-left 0.3s ease;
}

.main-content.expanded {
    margin-left: 60px; 
}

  .sidebar-button,
  .search-input,
  .category-filter,
  .clear-button {
    width: 90%;
    z-index: 2;
    height: 45px;
    margin: 10px 0;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    text-align: left;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
  }
  

  .search-input,
  .category-filter {
    background-color: #fff;
    color: #333;
    border: 1px solid #ddd;
    padding: 0 15px; 
  }
  

  .filter-container {
    width: 100%; 
    display: flex;
    justify-content: space-between; 
  }
  
  .clear-button {
    background-color: #dc3545; 
  }
  
  /* Ефекти наведення */
  .sidebar-button:hover,
  .clear-button:hover {
    background-color: #388E3C;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15); 
  }
  
  .clear-button:hover {
    background-color: #c82333; 
  }
  
  

  
  .product-table th,
  .product-table td {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    font-size: 16px;
    height: 50px;
  }
  
  .product-table th {
    background-color: #007BFF;
    color: white;
    font-size: 18px;
  }
  
  .product-table tr:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  .alert {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(255, 0, 0, 0.8);
    color: white;
    padding: 10px;
    border-radius: 5px;
    z-index: 1000;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
 


  .sidebar-button.toggle-button {
    position: absolute;
    top: 20px;         
    left: 100%;         
    transform: translateX(-50%); 
    width: 45px;
    height: 90px;      
    border-radius: 0 45px 45px 0; 
    background-color: #343a40; 
    color: white;      
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;      
    z-index: 1;
    box-shadow: none;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, left 0.3s ease; 
}


.sidebar-button {
    width: 90%; 
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: flex-start; 
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.sidebar-button.toggle-button:hover {
    border-color: #000000;
}

.sidebar.collapsed .toggle-button {
    left: 100%; 
}

.sidebar-button img {
    width: 20px; 
    height: 20px;
    margin-right: 10px; 
    vertical-align: middle; 
  }

  .sidebar-button span {
    font-size: 16px; 
    color: white; 
  }
